body {
  direction: rtl;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.navbar-toggler {
  background: linear-gradient(89deg, #1B4071 11.59%, #78A5DF 139.53%);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover {
  background-color: #95d7f1 !important;
}

/************************************ START HEADER  ************************************/
#header .social-media {
  height: 40px;
  line-height: 40px;
}

#header .social-media-links img {
  margin-right: 8px;
}

#header .social-media-icons img {
  margin-right: 25px;
}

#header .social-media a {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.navbar {
  background: transparent !important;
  height: 80px;
}

nav .nav-item {
  margin-right: 20px;
}

nav .nav-link {
  color: #E1E1E1;
  text-align: center;
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

nav a.active {
  color: #FFF !important;
  font-family: Tajawal !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important;
}

#header .ask-request {
  display: inline-flex;
  padding: 12px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(95deg, #304259 27.16%, #347BD9 170.44%);
  font-family: Tajawal;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  color: #E1E1E1;
  transition: .5s linear;
  -webkit-transition: .5s linear;
  -moz-transition: .5s linear;
  -ms-transition: .5s linear;
  -o-transition: .5s linear;
}

#header .ask-request:hover {
  background: linear-gradient(119deg, #78A5DF 1.6%, #347BD9 99.59%);
}

#header {
  background: url(../imgs/header.webp) no-repeat center center/cover;
  color: #fff;
  position: relative;
  height: 100vh;
}

#header .container {
  position: relative;
  z-index: 999;
}

#header .headerContent {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#header nav ul li a:hover {
  color: #347BD9;
}

#header h1 {
  text-align: center;
  font-family: Tajawal;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
}

/************************************ END HEADER  ************************************/

/************************************ START VIDEO  ************************************/
#video {
  display: flex;
  padding: 128px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
}

#video h3 {
  color: #1B4071;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#video p {
  color: #595566;
  text-align: center;
  font-family: Tajawal;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

#video .video-container {
  margin-top: 16px;
  position: relative;
}

#video .video-container .video-photo {
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  position: relative;
  z-index: 2;
}

#video .video-container .video-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
}

#video .video-container .right-top-video {
  position: absolute;
  top: -25px;
  right: -20px
}

#video .video-container .left-bottom-layer {
  width: 164px;
  height: 183px;
  position: absolute;
  bottom: -25px;
  left: -20px;
  background: #1B4071;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/************************************ EN VIDEO  ************************************/

/************************************ START ARTICLEL  ************************************/
#articles {
  padding: 80px 0;
  background: rgba(27, 64, 113, 0.05);
}

#articles .row {
  padding-top: 60px;
}

#articles h3 {
  color: #1B4071;
  text-align: center;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#articles .article-block {
  height: 260px;
  position: relative;
  cursor: pointer;
}

#articles .one {
  background: url(../imgs/articles/1.png) center center/cover;
}

#articles .two {
  background: url(../imgs/articles/2.png) center center/cover;
}

#articles .three {
  background: url(../imgs/articles/3.png) center center/cover;
}

#articles .four {
  background: url(../imgs/articles/4.png) center center/cover;
}

#articles .five {
  background: url(../imgs/articles/5.png) center center/cover;
}

#articles .six {
  background: url(../imgs/articles/6.png) center center/cover;
}

#articles .siven {
  background: url(../imgs/articles/7.png) center center/cover;
}

#articles .eight {
  background: url(../imgs/articles/8.png) center center/cover;
}

#articles .nine {
  background: url(../imgs/articles/9.png) center center/cover;
}

#articles .ten {
  background: url(../imgs/articles/10.png) center center/cover;
}

#articles .eleven {
  background: url(../imgs/articles/11.png) center center/cover;
}

#articles .title {
  color: #333;
  font-family: Tajawal;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 0 0 60px 100px;
  width: 100%;
}

#articles .article-block .content-layer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 0 0 50px 120px;
}

#articles .article-block:hover .content-layer {
  opacity: 1;
}

#articles .article-block:hover .title {
  opacity: 0;
}

#articles .article-block .content-layer p {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  color: #333;
  text-align: center;
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

/************************************ END ARTICLEL  ************************************/

/************************************ START SERVICES  ************************************/
#services {
  padding: 80px 0;
}

#services h3 {
  height: 53px;
  color: #1B4071;
  text-align: center;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 20px;
}

#services p {
  color: #333;
  text-align: center;
  font-family: Tajawal;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

#services .service-block {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  min-height: 100%;
  cursor: pointer;
}

#services .service-block img {
  margin-bottom: 12px;
}

#services .service-block h4 {
  color: #333;
  text-align: center;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 30px;
}

#services .service-block p {
  color: #333;
  text-align: center;
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}


#services .service-block:hover {
  background: linear-gradient(89deg, #1B4071 11.59%, #78A5DF 139.53%);
  box-shadow: 8px 8px 40px 5px rgba(0, 0, 0, 0.50);
}

#services .service-block:hover h4,
#services .service-block:hover p {
  color: #fff;
}

/************************************ END SERVICES  ************************************/

/************************************ START statistics  ************************************/
#statistics {
  background: linear-gradient(119deg, #78A5DF 1.6%, #347BD9 99.59%);
  padding: 128px 0;
}

#statistics .statistics-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 0px;
  gap: 18px;
}

#statistics .statistics-block div {
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

#statistics .statistics-block h3 {
  color: #FFF;
  text-align: right;
  font-family: Cabin;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

#statistics .statistics-block h6 {
  color: #C9C9C9;
  text-align: right;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/************************************ END statistics  ************************************/

/************************************ START testimonial  ************************************/
#testimonial {
  padding: 80px 0;
}

#testimonial h3 {
  color: #181818;
  text-align: center;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 48px;
}

#testimonial img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#testimonial .info {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fcfbfb;
}

#testimonial .info .name {
  color: #1B4071;
  text-align: right;
  font-family: Tajawal;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 12px;
}

#testimonial .info .job {
  color: #6B7280;
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 10px;
}

#testimonial .info .desc {
  color: #6B7280;
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

/************************************ END testimonial  ************************************/

/************************************ START Planning  ************************************/
#planning {
  padding: 128px 0;
  background: linear-gradient(89deg, #1B4071 11.59%, #78A5DF 139.53%);
}

#planning h3 {
  color: #FFF;
  text-align: center;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#planning p {
  color: #FFF;
  text-align: right;
  font-family: Tajawal;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 24px;
}

#planning button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #FFF;
  color: var(--base, #1B4071);
  text-align: center;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  border: none;
}

/************************************ END Planning  ************************************/

/************************************ END portfolio  ************************************/
#portfolio {
  padding: 128px 0;
}

#portfolio h3 {
  color: #1B4071;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin-bottom: 64px;
}

#portfolio figure {
  position: relative;
}

#portfolio img {
  width: 100%;
}

#portfolio .content-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(27, 64, 113, 0.80);
  opacity: 0;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
}

#portfolio .content-layer:hover {
  opacity: 1;
}

#portfolio .content-layer .title {
  color: #FFF;
  text-align: center;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

#portfolio .content-layer p {
  color: #FFF;
  text-align: center;
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

/************************************ END portfolio  ************************************/

/************************************ START carousel  ************************************/
#carousel {
  background: rgba(27, 64, 112, 0.05);
  padding: 128px 0;
}

#carousel h3 {
  color: #1B4071;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin-bottom: 48px;
}

/************************************ END carousel  ************************************/

/************************************ START Other Testimonial  ************************************/
#other-testimonial {
  background: #1B4071;
  padding: 128px 0;
}

/************************************ END Other Testimonial  ************************************/
/************************************ START Last Blog ************************************/
#last-blog {
  padding: 128px 0;
}

#last-blog h3 {
  color: #1B4071;
  text-align: center;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 48px;
}

#last-blog .last-blog-block h4 {
  color: #000;
  text-align: right;
  font-family: Tajawal;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#last-blog .last-blog-block p {
  color: #000;
  text-align: right;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

#last-blog .last-blog-block div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

#last-blog input {
  display: flex;
  height: 54px;
  padding: 12px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 0.2px solid #333;
  background: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#last-blog .last-blog-block div button {
  display: flex;
  width: 179px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(95deg, #304259 27.16%, #347BD9 170.44%);
  color: #FFF;
  text-align: center;
  font-family: Tajawal;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  border-radius: 5px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#last-blog .top {
  background: url(../imgs/blog-top-bg.png) no-repeat center center/cover;
  width: 100%;
  height: 222px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#last-blog .top div {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

#last-blog .top div button {
  border-radius: 5px;
  background: #FFF;
  display: flex;
  width: 117.968px;
  height: 38.852px;
  padding: 15px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--base, #1B4071);
  font-family: Cabin;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  border: none;
}

#last-blog .bottom {
  border-radius: 0px 0px 10px 10px;
  background: var(--base, #1B4071);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

#last-blog .bottom h5 {
  color: #FFF;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 123%;
}

#last-blog .bottom p {
  color: #FFF;
  font-family: Cabin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.4%;
  margin-bottom: 0;
}

#last-blog .bottom a {
  color: #FFF;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

/************************************ END Last Blog  ************************************/

/************************************ START FOOTER  ************************************/
footer {
  padding: 80px 0;
  background: #1B4071;
}

footer .logo {
  margin-bottom: 20px;
  margin-left: 20px;
}

footer .icon {
  margin-left: 10px;
}

footer .media img {
  margin-left: 20px;
}

footer h4 {
  color: #FFF;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 20px;
}

footer p {
  color: #E3E3E3;
  text-align: right;
  font-family: Tajawal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}

footer a {
  color: #E3E3E3;
  font-family: Tajawal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
  display: block;
}

footer a:hover {
  color: #fff;
}

footer .last-block a {
  margin-bottom: 20px;
}

/************************************ END FOOTER  ************************************/

/************************************ START Who We Are  ************************************/
.who-we-are-bg {
  background: url(../imgs/who-we-are-bg.webp) no-repeat bottom center/cover !important;
  height: 560px !important;
  position: relative;
}

.who-we-are-bg .headerContent {
  height: calc(560px - 120px) !important;
}

.who-we-are-bg::before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  position: absolute;
  inset: 0;
}

#more-about-us {
  padding: 128px 0;
}

#more-about-us p {
  color: #333;
  text-align: justify;
  font-family: Tajawal;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 50%;
}

#more-about-us .more-about-us-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

#more-about-us .more-about-us-block-2 {
  gap: 100px;
}

#more-about-us .avatar {
  width: 50%;
}

#more-about-us .more-about-us-block div {
  width: 50%;
}

#more-about-us .more-about-us-block .imgs {
  width: 50%;
  position: relative;
  height: 435px;
}

#more-about-us .more-about-us-block .imgs img {
  position: absolute;
}

#more-about-us .more-about-us-block .imgs .two {
  left: -20px;
  top: 20px;
}

#more-about-us .more-about-us-block .imgs .three {
  left: -40px;
  top: 40px;
}

.more-about-us {
  background: rgba(27, 64, 113, 0.05);
}

.more-about-us-3 {
  background: linear-gradient(95deg, #304259 27.16%, #347BD9 170.44%);
}

.more-about-us-3 p {
  color: #fff !important;
}

#vision {
  padding: 137px 0;
  background: rgba(27, 64, 113, 0.05);
}

.under-line-title {
  color: var(--base, #1B4071);
  text-align: right;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
}

.under-line-title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 13px;
  width: 112px;
  height: 6px;
  border-radius: 50px;
  background: #1B4071;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.vision-desc {
  color: #1B4071;
  text-align: justify;
  font-family: Tajawal;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 58px;
}

.our-massage {
  background-color: #fff !important;
}

#our-goals {
  padding: 128px 0;
  background: linear-gradient(89deg, #1B4071 11.59%, #78A5DF 139.53%);
}

#our-goals h3 {
  color: #FFF;
  text-align: center;
  font-family: Cabin;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 48px;
}

#our-goals .our-goals-block {
  display: flex;
  height: 180px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: #FFF;
}

#our-goals .our-goals-block img {
  margin-bottom: 16px;
  width: 32px;
  height: 27.921px;
}

#our-goals .our-goals-block h4 {
  color: var(--base, #1B4071);
  text-align: center;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

#our-value {
  padding: 128px 0;
}

#our-value h3 {
  color: #1B4071;
  text-align: center;
  font-family: Cabin;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 48px;
}

#our-value .our-value-block {
  box-shadow: 10px 15px 10px 2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(240deg, rgba(102, 142, 191, 0.05) -118.4%, #F4F5F8 -23.05%, #FFF 96.98%);
  display: flex;
  height: 100%;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#our-value .our-value-block h4 {
  color: #1B4071;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#our-value .our-value-block p {
  color: #1B4071;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/************************************ END Who We Are  ************************************/

/************************************ START Gallery  ************************************/
.gallery-bg {
  background: url(../imgs/gallery.webp) no-repeat top center/cover !important;
  height: 660px !important;
  position: relative;
}

.gallery-bg .headerContent {
  height: calc(560px - 120px) !important;
}

.gallery-bg::before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  position: absolute;
  inset: 0;
}

#our-gallery {
  padding: 80px 0;
}

#our-gallery .filter-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  margin-bottom: 64px;
}

#our-gallery .filter-text span {
  color: #333;
  text-align: right;
  font-family: Tajawal;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  cursor: pointer;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
}

#our-gallery .filter-text span:hover {
  color: #1B4071;
}

#our-gallery .filter-text span.active {
  color: #1B4071;
  text-align: right;
  font-family: Tajawal;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#our-gallery .main-block-gallery {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

#our-gallery .main-block-gallery .gallery-block {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #333;
  background: #FFF;
  overflow: hidden;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
  cursor: pointer;
}

#our-gallery .main-block-gallery .gallery-block figure {
  margin: 0;
}

#our-gallery .main-block-gallery .gallery-block img {
  display: flex;
  width: 413px;
  height: 433px;
  padding: 12px 24px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

#our-gallery .main-block-gallery .gallery-block-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 24px 37px;
}

#our-gallery .main-block-gallery .gallery-block span {
  color: #1B4071;
  text-align: right;
  font-family: Tajawal;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

#our-gallery .main-block-gallery .gallery-block h3 {
  color: #1B4071;
  text-align: right;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#our-gallery .main-block-gallery .gallery-block p {
  color: #333;
  text-align: right;
  font-family: Tajawal;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

#our-gallery .main-block-gallery .gallery-block.active,
#our-gallery .main-block-gallery .gallery-block:hover {
  background: #1B4071;
}

#our-gallery .main-block-gallery .gallery-block.active span,
#our-gallery .main-block-gallery .gallery-block:hover span,
#our-gallery .main-block-gallery .gallery-block.active h3,
#our-gallery .main-block-gallery .gallery-block:hover h3,
#our-gallery .main-block-gallery .gallery-block:hover p,
#our-gallery .main-block-gallery .gallery-block.active p {
  color: #fff;
}

#our-gallery .main-block-gallery button {
  background: linear-gradient(89deg, #1B4071 11.59%, #78A5DF 139.53%);
  border-radius: 5px;
  display: flex;
  width: 179px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Cabin;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border: none;
  margin: 0 auto;
}


/************************************ END Gallery  ************************************/

@media (max-width: 991px) {
  nav .nav-item {
    margin-right: 0px;
  }

  .navbar-nav {
    background: linear-gradient(89deg, #1B4071 11.59%, #78A5DF 139.53%);
  }

  #video h3 {
    font-size: 30px
  }

  #video p {
    font-size: 20px;
  }

  #video .video-container .right-top-video {
    top: -18px;
    right: -18px;
  }

  #video .video-container .left-bottom-layer {
    width: 150px;
    height: 150px;
    bottom: -18px;
    left: -18px;
  }

  #articles .title {
    padding: 0 0 60px 135px;
  }

  #more-about-us .more-about-us-block {
    flex-direction: column;
    gap: 0px;
  }

  #more-about-us .more-about-us-block-2 {
    flex-direction: column-reverse;
  }

  #more-about-us .more-about-us-block p {
    width: 100%;
    margin-bottom: 0;
  }

  #more-about-us .more-about-us-block img {
    width: 100%;
  }

  #more-about-us .more-about-us-block .imgs {
    width: 100%;
    margin-top: 50px;
  }

  #our-gallery .main-block-gallery .gallery-block {
    flex-direction: column;
  }

  #our-gallery .main-block-gallery .gallery-block img {
    width: 100vw;
    object-fit: cover;
    padding: 0;
  }

  #our-gallery .main-block-gallery .gallery-block-content {
    width: 100%;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  #header h1 {
    font-size: 40px;
  }

  #video h3 {
    font-size: 24px
  }

  #video p {
    font-size: 15px;
  }

  #video .video-container .right-top-video {
    display: none;
  }

  #video .video-container .left-bottom-layer {
    display: none;
  }

  #articles .article-block .content-layer {
    padding: 0 0 50px 130px;
  }

  #articles .title {
    font-size: 32px;
  }

  #articles .article-block {
    height: 430px;
  }

  #statistics .statistics-block {
    padding: 30px 0px;
  }
}

@media (max-width: 575px) {
  #articles .article-block {
    height: 315px;
  }

  #testimonial h3 {
    font-size: 34px;
  }

  #planning h3 {
    font-size: 34px;
  }

  #planning p {
    font-size: 28px;
  }

  .slide .desc {
    font-size: 20px !important;
  }

  #last-blog .last-blog-block h4 {
    font-size: 30px;
  }

  #last-blog .last-blog-block p {
    font-size: 18px;
  }

  #last-blog .last-blog-block div input {
    width: 100%;
  }

  #last-blog .last-blog-block div button {
    width: 100%;
  }

  #more-about-us {
    padding: 128px 0 0 0;
  }

  #more-about-us p {
    font-size: 22px;
  }

  #more-about-us .more-about-us-block .imgs .two {
    left: 0px;
  }

  #more-about-us .more-about-us-block .imgs .three {
    left: -0px;
  }

  #vision {
    padding: 50px 0;
  }

  .vision-desc {
    padding: 0;
  }

  .under-line-title {
    margin-bottom: 40px;
  }

  #our-gallery .main-block-gallery .gallery-block h3 {
    font-size: 38px;
  }

  #our-gallery .main-block-gallery .gallery-block p {
    font-size: 24px;
  }
}

/* ------------------------ swiper ------------------------ */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#testimonial .swiper-slide {
  box-shadow: 3px 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  user-select: none;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #fff !important;
}

/**************************** Other Testimonial  *****************************/
#other-testimonial h3 {
  color: #FFF;
  text-align: center;
  font-family: Tajawal;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.testimonial {
  position: relative;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.testimonial .image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.slide .desc {
  color: #FFF;
  text-align: center;
  font-family: Tajawal;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 48px;
  width: 90%;
}

#other-testimonial .swiper-pagination-bullet {
  background-color: #C6C5C5;
  ;
}

.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#other-testimonial .details .name {
  color: #FFF;
  text-align: center;
  font-family: Cabin;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin-bottom: 4px;
}

.details .job {
  color: #ACACAC;
  text-align: right;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 28px;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}

#other-testimonial .nav-btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: #F6F6F6;
  transition: 0.2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#other-testimonial .nav-btn::after,
#other-testimonial .nav-btn::before {
  font-size: 20px;
  color: #333;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

#testimonial .swiper-pagination-bullet-active {
  background-color: #4070f4 !important;
}

@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }

  .nav-btn {
    display: none;
  }
}

.copyRight {
  background-color: #FAFAFA;
  display: flex;
  height: 51px;
  padding: 25px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyRight p {
  text-align: center;
  color: #737373;
  font-family: Tajawal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}